.logo{
    width: 40px;
    margin-right: 10px;
}

.carrossel{
    width: 100%;
    height: 500px;
}

.navbar{
    background-color: rgba(17, 78, 36, 0.137);
}

.nave{
    height: 50px;
}

@media (min-width: 1200px) {
    .carrossel{
        height: 700px;
    }
    
}