.margin{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 500px;
}

.bem_vindo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify{
    width: 50%;
}

.back{
    background-image: url(/img/pg-ini.jpg);
    background-position: top;
}

.wid{
    width: 50%;
}

#image{
    font-size: 13px;
}

.row{
    display: flex;
    justify-content: center;
}