.margin{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 500px;
}
.imagem-table{
    width: 40px;
}
#img-container{
    height: 100%;
}
.navegador{
    margin-top: -150px;
}
#img-container img{
    width: 80%;
}
.bem_vindo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-nav:hover{
    color: black;
}
.na{
    font-weight: 300;
}
.justify{
    width: 50%;
}

.back{
    background-image: url(/img/pg-ini.jpg);
    background-position: top;
}

.wid{
    width: 50%;
}

#image{
    font-size: 13px;
}

.row{
    display: flex;
    justify-content: center;
}

.sobre, .icon{
    color: green;
}

.light{
    color: white;
}

.marg{
    margin-left: 20px;
}

.ativo{
    color: green;
    font-weight: 700;
}

.inativo{
    color: red;
    font-weight: 700;
}

.forte, .forte:hover{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.img-preview{
    margin-left: 10px;
    width: 100px;
}

.tudo{
    display: flex;
    width: 100%;
}

.saber{
    margin-top: -20;
}


#fecho{
    display: none;
}

.cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro{
    display: none;
}

@media (max-width: 1200px) {
    #lado{
        display: none;
        z-index: 999;
        transition: all 0.2s ease-in-out;
    }
    #fecho{
        display: inline;
    }
    #sair{
        display: block !important;
        width: 100%;
        margin-left: 0;
    }
    #imagem_aerea{
        width: 200px;
        margin-left: 0;
    }
    #imagem_perfil{
        width: 200px;
        margin-left: 0;
    }
    #mapa{
        width: 200px;
        margin-left: 0;
    }
    .form-group{
        margin-left: 0;
    }
    #cd{
        margin-top: 50px;
    }
    .marg{
        margin-left: 0;

    }
    #imgs{
        margin-top: 20px;
    }
    #cadastro{
        display: block;
        margin-left: 120%;
    }
    #rastreio{
        width: 100% !important;
    }
    .cont{
        width: 100%;
    }
}